<div class="filter-container">
  <div class="sub-filter-container">
    <h3 class="filter-container__title">Buscar</h3>
    <select
      class="select-title"
      name="select"
      [(ngModel)]="selectTitle"
      (ngModelChange)="changeSelect($event)"
    >
      <option value="value1" *ngFor="let item of leafMenus" [ngValue]="item">
        {{ item.name }}
      </option>
    </select>
  </div>
</div>

<div class="container-card" *ngIf="menu">
  <h1 class="container-card__title">{{ menu.title }}</h1>
  <h5 class="container-card__sub-title">{{ menu.id }}</h5>
  <h5 class="container-card__sub-title">{{ menu.key }}</h5>
  <h5 class="container-card__sub-title">{{ menu.route }}</h5>
</div>
